<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- El cliente puede usar IP automática -->
        <add key="ClientIpAddress" value="0.0.0.0"/>
        <add key="ClientPort" value="0"/>

        <!-- El servidor se buscará por nombre de contenedor dentro de la red Docker -->
        <add key="ServerIpAddress" value="server-container"/>
        <add key="ServerPort" value="20000"/>
    </appSettings>
</configuration>